<footer class="border-top text-center py-3">
    <ul class="nav justify-content-center" style="color:red">
  
      <li class ="nav-item">  
        <a class="nav-link" href="{% url 'core:contact'%}">Письмо администраторам</a>
      </li> 
      <li class ="nav-item">  
        <a class="nav-link" href="{% url 'core:about'%}">Об авторе и его друзьях</a>
      </li> 
      <li class ="nav-item">  
        <a class="nav-link" href="{% url 'core:tech'%}">О технологиях проекта</a>
      </li>
    </ul>
      <p>© 2024 Copyright NRU HSE</p>    
  </footer>